.container {
  font-family: "Fira Sans", sans-serif;
}
.grey-bg {
  background-color: #fcfcfc;
  padding: 1.875rem;
  margin: 50px 0;
  float: left;
  width: 100%;
}

.grey-bg .user-information-box {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px;
  margin-bottom: 20px;
}

.grey-bg .user-information-box .user-img {
  width: 20%;
  min-width: 100px;
  text-align: center;
  align-self: end;
}

.grey-bg .user-information-box .user-img img {
  width: 77px;
  height: 77px;
  background: #eeee;
  border-radius: 50%;
  margin: 0 auto;
}

.grey-bg .user-information-box .user-details {
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.grey-bg .user-information-box .user-details .user_bx {
  padding-top: 10px;
}

.grey-bg .user-information-box .user-details .user_bx .user_name {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 3px;
  line-height: 24px;
}

.grey-bg .user-information-box .user-details .user_bx .user_designation {
  font-weight: normal;
  font-size: 0.875rem;
  margin-bottom: 0;
  line-height: 24px;
}

.grey-bg .user-information-box .user-details .user_bx .user_addr {
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 24px;
}

.grey-bg .user-information-box .user-details .user_logout {
  align-self: flex-end;
  margin-top: 00px;
}

.user_logout #logoutButton {
  background: #000000;
  padding: 7px 10px;
  color: #fff;
  font-size: 0.875rem;
  border: 1px solid transparent;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
}
.user_logout #logoutButton:hover {
  background: #ffffff;
  border-color: #000000;
  color: #000;
}
