.custom-container {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 20px 0;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.custom-container img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}

.custom-heading {
  text-align: left;
}

.custom-heading h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
}

.custom-heading p {
  font-size: 16px;
  margin: 10px 0;
}

.custom-heading p:first-of-type {
  font-size: 18px;
  font-weight: bold;
}
