.nav-bar-wrapper {
  color: orange;
}

.custom-image {
  display: block;
  height: auto;
  margin-bottom: 20px; /* Add space between image and link */
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  width: 450px;
  border-radius: 20px;
}

.custom-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
  transition: background-color 0.3s ease; /* Add transition for smoother hover effect */
}

.custom-link:hover {
  background-color: rgba(0, 0, 0, 0.7); /* Ensure hover color change */
}

/*
.block-with-background {
  background-image: url("/content/dam/p-xwalk-site/hero.png"); /* Replace with your image path /
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; /* Ensures the link is centered horizontally /
  height: 670px;
  width: 100%;
}

*/
